<template name="autoFormEdit">

    <!-- {{initialItem}} -->
    <nav class="top-bar" data-topbar role="navigation">
        <ul class="title-area">
            <li class="name">
                <h1><a href="#">Agile Forms </a> </h1> </li>
            <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
            <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a> </li>
        </ul>
        <section class="top-bar-section">
            <!-- Right Nav Section -->
            <ul class="left">
                <li class="button" id="guardar"> <i class="fa fa-save  hide"></i><span contenteditable="true" id="nombre"></span> </li>
                <li class="button" id="crear" title="Añadir un nuevo item"><i class="fa fa-plus"></i> </li>
                <li class="button" id="ayudacampos" title="Insertar la lista de campos de la colección en el editor"><i class="fa fa-database "></i> </li>
                <li class="button" id="eliminar"><i class="fa fa-remove"></i> </li>
                <li class="button" id="idiomas" title="Show traductions panel"><i class="fa fa-language"></i> </li>
                <li>
                    <input list="modeList" type="text" placeholder="form mode [new|edit|readonly|delete]" id="form-mode" value="{{formdefaults._formDesignMode}}">
                    <datalist id="modeList">
                        <option>new</option>
                        <option>edit</option>
                        <option>readonly</option>
                        <option>delete</option>
                    </datalist>


                </li>

                <li>
                    <input class="{{formdefaults._theClass}}" type="text" placeholder="document id" id="form-doc-id" value="{{formdefaults._formDesignDocId}}">
                </li>

            </ul>
        </section>
    </nav>

    <dl class="sub-nav" id="items_existentes">
        <dt>
            <input type="search" id="filtrar" placeholder="{{tr " Form filter "}}" /> </dt>
        {{#each items }}
        <dd name="{{name}}" collection="{{content.form.collection}}"><a class="doc" name="{{name}}" id="{{_id}}">{{name}}</a> </dd>
        {{/each}}
    </dl>
    <div class="small-12 columns">
        <div id="items_existentes" class="row">
            <div class="large-2 small-12 columns"> </div>
        </div>
        {{> meteorErrors}}
        <div id="bloque-editor">
            <div id="editor" class="large-6 columns " data-equalizer-watch></div>
            <div id="elitem" class="large-6 columns " data-equalizer-watch>
                <div id="ritem">
                    <div data-alert class="alert-box info"> Si aparece este mensaje es que no se ha llamado correctamente al renderizado de {{name}} <a href="#" class="close">&times;</a> </div>
                </div>
            </div>
        </div>
    </div>
    <p>Soy un texto {{tr "male"}}</p>
    <!-- </div> -->{{initFoundation}} {{cargarItemInicial}}
</template>
