<template name="autoFormEdit">

    <!-- {{initialItem}} -->
    <nav class="top-bar backend" data-topbar role="navigation">
        <ul class="title-area">
            <li class="name">
                Agile Forms</li>
            <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->

        </ul>
        <section class="top-bar-section">
            <!-- Right Nav Section -->
            <ul class="left">

                <li id="guardar"> <i class="fa fa-save  hide"></i>
                    <input type="text" id="nombre">
                </li>
                <li class="button" id="crear" title="Añadir un nuevo item"><i class="fa fa-plus"></i> </li>
                <li class="button" id="ayudacampos" title="Insertar la lista de campos de la colección en el editor"><i class="fa fa-database "></i> </li>
                <li class="button" id="eliminar"><i class="fa fa-remove"></i> </li>
                <li class="button" id="idiomas" title="Show traductions panel"><i class="fa fa-language"></i> </li>
                <li>
                    <select id="form-mode">
                        <option selected value="{{formdefaults._formDesignMode}}">{{formdefaults._formDesignMode}}</option>
                        <option>new</option>
                        <option>edit</option>
                        <option>readonly</option>
                        <option>delete</option>
                    </select>
                </li>

                <li>
                    <select class="{{formdefaults._theClass}}" type="text" placeholder="document id" id="form-doc-id" value="{{formdefaults._formDesignDocId}}">
                        <!--   {{#each docs}}
                        <option value="{{_id}}">{{_id}}</option>
                        {{/each}} -->
                    </select>
                </li>

            </ul>
        </section>
    </nav>

    <dl class="sub-nav" id="items_existentes">
        <dt>
            <input type="search" id="filtrar" placeholder="{{tr " Form filter "}}" /> </dt>
        {{#each items }}
        <dd name="{{name}}" collection="{{content.form.collection}}"><a class="doc" name="{{name}}" id="{{_id}}">{{name}}</a> </dd>
        {{/each}}
    </dl>
    <div class="small-12 columns">
        <div id="items_existentes" class="row">
            <div class="large-2 small-12 columns"> </div>
        </div>

        <div id="bloque-editor">
            <div id="editor" class="large-6 columns " data-equalizer-watch></div>
            <div id="elitem" class="large-6 columns " data-equalizer-watch>
                <div id="ritem">
                    <div data-alert class="alert-box info"> Si aparece este mensaje es que no se ha llamado correctamente al renderizado de {{name}} <a href="#" class="close">&times;</a> </div>
                </div>
            </div>
        </div>
    </div>

    {{initFoundation}} {{cargarItemInicial}}
</template>
