<template name="masterEdit">


    <nav class="top-bar backend master" data-topbar role="navigation">
        <!-- <ul class="title-area">

    </ul -->
        <section class="top-bar-section">

            <ul class="left">
                <li class="name">

                    <span class="title">Agile</span>
                    <select id="category" class="editormode">
                        {{#each categories}}
                        <option collection="{{collection}}" ace="{{ace}}" value="{{name}}" selected="{{#if selected}}selected{{/if}}">{{title}} {<span class="mode">{{ace}}</span>}
                        </option>
                        {{/each}}
                    </select>
                    <!-- <span class="ace-mode-title">[{{ace_mode}}]</span> -->


                </li>
                <li id="select">


                </li>
                <li id="guardar" title="Save this snippet"> <i class="fa fa-save  hide"></i>
                    <input type="text" id="name">
                </li>
                <li class="button" id="crear" title="Add a new snippet"><i class="fa fa-plus"></i> </li>
                <li class="button disabled" id="eliminar" title="Delete this snippet"><i class="fa fa-remove"></i> </li>
                <li class="button disabled" id="duplicate" title="Duplicate this snippet"><i class="fa fa-files-o"></i> </li>
                <li class="button" id="idiomas" title="Show traductions panel"><i class="fa fa-language"></i> </li>
            </ul>
            <ul class="right">
                <li id="themeselector">

                    <select size="1" id="theme">
                        <optgroup label="Bright">
                            <option value="ace/theme/chrome">Chrome</option>
                            <option value="ace/theme/clouds">Clouds</option>
                            <option value="ace/theme/crimson_editor">Crimson Editor</option>
                            <option value="ace/theme/dawn">Dawn</option>
                            <option value="ace/theme/dreamweaver">Dreamweaver</option>
                            <option value="ace/theme/eclipse">Eclipse</option>
                            <option value="ace/theme/github">GitHub</option>
                            <option value="ace/theme/solarized_light">Solarized Light</option>
                            <option value="ace/theme/textmate">TextMate</option>
                            <option value="ace/theme/tomorrow">Tomorrow</option>
                            <option value="ace/theme/xcode">XCode</option>
                            <option value="ace/theme/kuroir">Kuroir</option>
                            <option value="ace/theme/katzenmilch">KatzenMilch</option>
                        </optgroup>
                        <optgroup label="Dark">
                            <option value="ace/theme/ambiance">Ambiance</option>
                            <option value="ace/theme/chaos">Chaos</option>
                            <option value="ace/theme/clouds_midnight">Clouds Midnight</option>
                            <option value="ace/theme/cobalt">Cobalt</option>
                            <option value="ace/theme/idle_fingers">idle Fingers</option>
                            <option value="ace/theme/kr_theme">krTheme</option>
                            <option value="ace/theme/merbivore">Merbivore</option>
                            <option value="ace/theme/merbivore_soft">Merbivore Soft</option>
                            <option value="ace/theme/mono_industrial">Mono Industrial</option>
                            <option value="ace/theme/monokai">Monokai</option>
                            <option value="ace/theme/pastel_on_dark">Pastel on dark</option>
                            <option value="ace/theme/solarized_dark">Solarized Dark</option>
                            <option value="ace/theme/terminal">Terminal</option>
                            <option value="ace/theme/tomorrow_night">Tomorrow Night</option>
                            <option value="ace/theme/tomorrow_night_blue">Tomorrow Night Blue</option>
                            <option value="ace/theme/tomorrow_night_bright">Tomorrow Night Bright</option>
                            <option value="ace/theme/tomorrow_night_eighties">Tomorrow Night 80s</option>
                            <option value="ace/theme/twilight">Twilight</option>
                            <option value="ace/theme/vibrant_ink">Vibrant Ink</option>
                        </optgroup>
                    </select>

                </li>
            </ul>
        </section>
    </nav>

    <dl class="sub-nav" id="items_existentes">
        <dt>
            <input type="search" id="filtrar" placeholder="{{tr " Form filter "}}" /> </dt>
        {{#each items }}
        <dd name="{{name}}"><a class="doc" name="{{name}}" id="{{_id}}">{{name}}</a> </dd>
        {{/each}}
    </dl>
    <div class="small-12 columns">
        <div id="items_existentes" class="row">
            <div class="large-2 small-12 columns"> </div>
        </div>

        <div id="bloque-editor">

            <div id="editor-container" class="large-6 columns" data-equalizer-watch></div>
            <div id="elitem" class="large-6 columns" data-equalizer-watch>
                <div id="modeoptions">

                    <div id="option-form" class="hide">
                        <div class="alert-box"> Para utilizar valores de test crea una clave test al final de la definición el formulario con los elementos que quieras usar, tal como espera cargaForm() </div>
                        <span class="button tiny left" id="cargaides"><i class="fa fa-refresh"></i>
</span>
                        <select id="form-doc-id" class="columns large-10">
                            <option selected>{{form_active_doc}}</option>
                        </select>

                    </div>


                </div>
                <div id="ritem">
                    <div data-alert class="alert-box info"> Si aparece este mensaje es que no se ha llamado correctamente al renderizado de {{name}} <a href="#" class="close">&times;</a> </div>
                </div>
            </div>
        </div>
    </div>

    {{initFoundation}}
</template>
