<template name="listshow">
    <div id="listdest"></div>
</template>



<template name="pageList">
    <p> Esto es una plantilla de página de listados</p>
    <!--  <div class="row"> -->
    <div class="large-8 columns" id="listdest" name="{{this.name}}"></div>
    <div class="large-4 columns panel" id="lateral">
        <h3> Aqui podría venir contenido lateral</h3>



        <a inject="doi,tipo_contrato" tipo_contrato="indefinido" nombre="Luis" doi="APK9ldeX" mode="new" div="in-place" name="contratos" class="form2div"><i class="fa fa-plus"> Añadir contrato </i></a>

        <br>
        <a mode="new" div="in-place" name="contratos" class="form2div">Añadir un contrato</a>


    </div>
    <!-- </div> -->
</template>
