<template name="menu">
    <nav class="top-bar" data-topbar>
        <ul class="title-area">
            <li class="name">
                <h1><a href="">{{default 'appName'}}</a>
                </h1>
            </li>
            <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
            <li class="toggle-topbar menu-icon">
                <a href="#">
                    <span>Menu</span>
                </a>
            </li>
        </ul>
        <section class="top-bar-section">
            <ul class="right">
                {{#if currentUser}}
                <li><span class="label">{{user.name}}</span> {{#if user.picture}}
                    <img id="user-picture" src="{{user.picture}}"> {{/if}}
                </li>
                {{/if}}
                <li>{{>atNavButton}}</li>
            </ul>
        </section>
    </nav>
</template>
