<!-- <template name="menutree">
    <ul id="config-menu">
        {{#each list}}{{> sub}} {{/each}}
    </ul>
</template> -->

<!-- <template name="node">
    {{#if sub}}
    <ul class="dropdown">
        {{#each sub}} {{> sub}} {{/each}}
    </ul>
    {{/if}}
</template>
 -->

<!-- <template name="subnode">

    <li class="{{#if sub}}has-dropdown not-click {{/if}} {{classes}}">
        <a href="" {{atrrs}}>
        {{#if img}}
        <i class="fa {{img}}"></i>
          {{/if}}
        {{name}}</a> {{> menunode}}

    </li>

</template>
 -->