@import "_settings";
@import "myFoundationConfig";
@import ".meteor/local/build/programs/server/assets/packages/matthew_foundation5-sass/scss/foundation";
 .button.active {
    background-color: darken($primary-color, 15);
    color: #fff
}
#iron-router-progress {
    background-color: #00A4FF;
    ox-shadow: 0 0 5px black;
}
