@import "main";
nav {
    & > * {
        height: 45px;
    }
    #user-picture {
        height: 41px;
    }
    li#notifications {
        height: 45px;
        width: 45px;
        margin: 0px 3px;
        .showToUser, i {
            margin: 0px;
            background-color: transparent;
            border: none;
            padding: 0px inherit;
        }
        * {
            height: 45px;
            width: 45px;
            // margin: 0px;
            // padding: 0px;
        }
    }
    li#user-info {
        height: 45px;
        width: auto;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        padding: 2px;
        img {
            border-radius: 50%;
            margin: 0 3px;
            border: 1px solid rgba(255, 255, 255, .4);
        }
        &.pasword {
            background-color: #000;
        }
        &.google {
            background-color: #CC4E30;
        }
        &.facebook {
            background-color: #2C4780;
        }
        &.twitter {
            background-color: #358CF0;
        }
        div {
            padding: .2em;
            font-size: .8em;
            color: #fff;
            height: 20px;
        }
    }
}
