@import "../../1-agile-main/scss/main";
$margin-fields: .4em;
form.autof {
    padding: 1em;
    padding-top: 1.3em;
    // border: 1px solid $success-color;
    #form_notices {
        display: none;
    }
    &.changed {
        // border: 1px solid $alert-color;
        #form_notices {
            display: block;
            position: absolute;
            width: 100%;
            top: 0px;
            right: 0px;
            background-color: $alert-color;
            color: #fff;
            padding: 0px 6px;
        }
    }
    * {
        transition-duration: .5s;
        border-radius: 0px !important;
    }
    .disabled {
        opacity: .80 !important;
        .utilityRow {
            display: none;
        }
    }
    .form_title {
        display: block;
        font-weight: 600;
        font-size: 120%;
    }
    div.block.collapse .blockname i {
        transform: rotate(-90deg);
    }
    select[size] {
        height: auto;
    }
    input {
        width: 100%;
    }
    div.block {
        &.collapse {
            div, span.button {
                display: none;
            }
        }
        padding: .5em 1em;
        border: 1px solid $primary-color;
        border-top: none;
        &:hover {
            // background-color: darken($body-bg, 2);
        }
        padding: 0 0 $margin-fields 0 !important;
        margin: $margin-fields 0;
        // border:none;
        &#startBlock,
        &#_endblock,
        &#_endBlock {
            border-color: transparent;
            .blockname {
                display: none;
            }
        }
        .blockname,
        .blockname i {
            .maxinfo {
                display: inline-block;
                margin-left: 2em;
                font-size: .7em;
                font-weight: normal;
            }
            font-size: 110%;
            background-color: $primary-color;
            color: text-contrast($primary-color);
            font-weight: 700;
            margin: 0px 0px 10px 0px;
            border: 1px solid $primary-color;
            display: block;
            padding: 0;
            cursor: pointer;
            width: 100%;
            & i {
                width: auto;
                display: inline-block;
                float: right;
                background-color: transparent !important;
            }
        }
    }
    // .selectize-control.multi .selectize-input [data-value]
    div.isClon label {
        display: none;
    }
    input,
    select {
        padding: 3px;
        height: 2em;
    }
    .subrow {
        border i {
            margin-left: .5em;
        }
        // &:hover {
        input,
        select,
        textarea,
        .selectize-input {
            // background-color: complement($panel-bg) !important
        }
        .addsubrow {
            color: lighten($success-color, 20);
            &:hover {
                color: $success-color
            }
        }
        .removesubrow {
            color: lighten($warning-color, 20);
            &:hover {
                color: $warning-color
            }
        }
        // }
        .columns,
        .row,
        i {
            padding: 1px;
            input, select {
                margin-bottom: 1px;
            }
        }
        .utilityRow {
            cursor: pointer;
        }
    }
    .button-group {
        .button {
            i:before {
                margin-right: .4em;
            }
        }
    }
}
/*CONTROLANDO LA DISPOSICION DE LOC CAMPOS*/

$fieldrow-height: 4em;
$fieldrow-padding: 0px 10px;
$label-height: 16px;
$control-color: #000;
$control-border-color: #ccc;
$control-border: 1px solid $control-border-color;
$control-border-radius: 0px;
$control-font-size: 1em;
$control-height: 30px;
$control-bg: rgba($primary-color, .05);
$control-focus-bg: #efefef;
$control-focus-border-color: darken($control-border-color, 15);
$control-box-shadow: 0px 0px 2px $control-border-color;
$control-item-background: lighten($primary-color, 40);
$columns-space: 10px;
form.autof {
    .fieldrow {
        padding: $fieldrow-padding;
        min-height: $fieldrow-height !important;
        height: auto;
        label {
            height: $label-height;
            display: block;
            margin-bottom: 0px;
            &.action {
                display: none;
            }
            &.field {
                color: #555;
                font-weight: 700;
            }
        }
        input,
        select,
        textarea,
        .my-radio-button,
        .selectize-control {
            margin: 0px;
            box-shadow: $control-box-shadow !important;
            border-radius: $control-border-radius !important;
            border: $control-border;
            min-height: $control-height !important;
            font-size: $control-font-size !important;
            &:focus, *:focus {
                background-color: $control-focus-bg !important;
                border-color: $control-focus-border-color;
            }
        }
        //Radio customize
        .my-radio-button {
            select {
                display: none;
            }
            display: flex;
            flex-direction: column;
            flex-flow: wrap;
            width: 100%;
            justify-content: flex-start;
            div {
                transition-duration: .4s;
                cursor: pointer;
                opacity: .5;
                &:hover {
                    background-color: #eee;
                }
                &:before {
                    font-weight: normal;
                    content: "\f10c";
                    font-family: FontAwesome;
                    margin-right: 2px;
                }
                &.selected {
                    text-shadow: 1px 0px 1px #fff, -1px 0px 1px #fff;
                    font-weight: bolder;
                    opacity: 1;
                }
                &.selected:before {
                    content: "\f192";
                }
                padding: .2em 0 .2em 10px;
            }
        }
    }
    .selectize-control {
        padding: 0px !important;
        border: $control-border;
        .selectize-input {
            box-shadow: none;
            border: none;
            padding: 0px 3px !important;
            text-align: left;
            height: $control-height !important;
            background-color: #fff;
            background-image: none;
            // input {
            //     border: none;
            //     min-height: $control-height !important;
            // }
        }
        .items {
            border: none;
            width: 100%;
        }
        &.single {
            .selectize-input {
                display: table;
                .item[data-value] {
                    display: table-cell;
                    vertical-align: middle;
                }
            }
        }
        &.multi {
            .item[data-value] {
                background: $control-item-background;
                color: darken($primary-color, 20);
                border-color: darken($control-item-background, 20);
                padding-top: 0px;
                padding-bottom: 0px;
                text-shadow: none;
                a.remove {
                    padding: 0px !important;
                    &:hover {
                        background: $primary-color;
                        color: $control-bg;
                    }
                }
            }
        }
    }
}
/*Formato para campos especiales*/

$icon-color: darken($primary-color, 30);
form.autof {
    div[type=date], div[type=datetime], div[type=time] {
        input {
            text-align: center;
        }
    }
    label:after {
        //display: none;
        text-align: center;
        font-family: FontAwesome;
        color: $icon-color;
        // position: absolute;
        // right: 0px;
        float: right;
        padding: 0px;
        margin: 0px;
        font-weight: normal;
        margin: 0px;
        font-size: .8em;
    }
    label[format=currency]:after {
        content: "\f153";
    }
    label[type=tags]:after {
        content: "\f02c";
    }
    label[type=date]:after {
        content: "\f133";
    }
    label[type=email]:after {
        content: "\f0e0";
    }
    label[type=textarea]:after {
        content: "\f0e5";
    }
    label[type=range]:after {
        font-family: $body-font-family;
        content: attr(value);
    }
}

.rojo {
    background-color: red !important;
}

//Validacion
$style-valid: 2px solid $success-color;
$style-invalid: 2px solid red;
.autof {
    &:not(.form-valid) {
        .button-group {
            opacity: .2;
        }
        input,
        select,
        textarea,
        ul[type=radio],
        .selectize-control,
        .my-radio-button {
            //  border-bottom-width: 2px;
        }
        div.focused {
            &[isvalid=true] {
                input, select, textarea, ul[type=radio], .selectize-control, .my-radio-button {
                    border-bottom: $style-valid;
                }
            }
            &[isvalid=false] {
                span.validation-info {
                    color: $alert-color;
                    font-size: .9em;
                    background-color: #fff;
                    width: 100%;
                    display: block;
                    // padding: 0px 2px;
                }
                label {
                    color: $alert-color;
                }
                input,
                select,
                textarea,
                ul[type=radio],
                .selectize-input,
                .my-radio-button {
                    // border-bottom: $style-invalid;
                }
            }
        }
    }
}

.showToUser.changed_notice {
    position: absolute;
    z-index: 1;
    right: 0px;
    top: 0px;
    border: none;
    padding: .2em 1em;
    background-color: $alert-color;
    color: #fff;
    font-size: 1em;
    font-weight: bold;
    opacity: .5;
    //border: 1px solid $alert-color;
}
/*MODO READ ONLY DE LOS FORMS*/

//todo completar el css del modo readonly
.autof[mode=readonly] {
    border: none !important;
    *, *:focus {
        color: #000 !important;
        background-color: transparent !important;
        border: none !important;
        box-shadow: none;
        font-weight: normal !important;
    }
    .fieldrow {
        width: 33% !important;
    }
    .fieldrow * {
        background-color: transparent !important;
    }
    .block:not(#startBlock) {
        border: 1px solid #555 !important;
        background-color: #eee !important;
    }
    label {
        border-bottom: 1px solid #000 !important;
    }
    .remove,
    .showToUser {
        display: none !important;
    }
    .my-radio-button {
        border-width: 0px !important;
        div {
            display: none !important;
        }
        div.selected {
            display: block !important;
            border: none !important;
        }
    }
    input,
    select,
    .selectize-input,
    .my-radio-button div {
        font-weight: bold !important;
    }
}

//Reglas especiales que deben aplicarse al final
form.autof {
    input.inject {
        // border: none !important;
        // background-color: #fff !important;
        // box-shadow: none !important;
        // font-weight: bold;
        // height: auto !important;
    }
}
